{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <a href="{% url "posts:home" %}" class="header-link">Главная</a>
      <img src="{% static 'images/logo.svg' %}" alt="" />
      <a href="{% url "users:login" %}" class="header-link">Войти</a>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <a href="home.html">
        <div class="footer-icon">
          <img src="{% static 'images/home.svg' %}" alt="" />Главная
        </div>
      </a>
      <a href="create_post.html">
        <div class="footer-icon">
          <img src="{% static 'images/create.svg' %}" alt="" />Создать
        </div>
      </a>
      <a href="reg.html">
        <div class="footer-icon">
          <img src="{% static 'images/profile.svg' %}" alt="" />Войти
        </div>
      </a>
    </footer>
  </body>
</html>
