{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="create-main">
  <form method="post" enctype="multipart/form-data" class="post-create">
    {% csrf_token %}

    <textarea name="text" id="id_text" placeholder="Поделитесь своим рецептом" 
              rows="10">{{ form.text.value|default:'' }}</textarea>

    <!-- Изображения -->
    <input type="file" name="images" multiple id="id_images" accept="image/*">
    <input type="button" value="+ Добавить изображение" class="add-img" id="add-img-btn">

    <!-- Кнопка -->
    <input type="submit" value="Опубликовать пост" class="publish">
  </form>
</main>
{% endblock %}
