{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <div class="body-top">
      <div class="search">
        <input type="text" class="search-input" placeholder="Поиск по рецептам и пользователям..." value="{% if query %}{{ query }}{% endif %}" />
        <div class="search_icon">
          <img src="{% static 'images/search_icon.svg' %}" alt="Поиск" class="search_icon" />
        </div>
      </div>

      <a href="{% url 'posts:create' %}"><input type="button" class="create-post" value="+ Создать пост" /></a>
    </div>

    <div class="posts-container">
      {% for post in posts %}
        <div class="post" data-post-id="{{ post.id }}">
          <div class="post-header">
            {% if post.author.avatar %}
              <img src="{{ post.author.avatar.url }}" alt="" class="post-avatar" />
            {% else %}
              <img src="{% static 'images/default_avatar.jpg' %}" alt="" class="post-avatar" />
            {% endif %}
            <a href="{% url 'users:profile' %}?user={{ post.author.id }}" class="post-user">{{ post.author.username }}</a>
          </div>

          {% if post.images.all %}
            {% with img=post.images.all.0 %}
              <a href="{% url 'posts:detail' post.pk %}">
                <div class="post-main">
                  <div class="post-img-container">
                    <img src="{{ img.image.url }}" alt="" class="post-img" />
                  </div>
                </div>
              </a>
            {% endwith %}
          {% else %}
            <div class="post-main">
              <p class="post-text">
                {% if post.text|length > 250 %}
                  {{ post.preview|linebreaksbr }}
                {% else %}
                  {{ post.text|linebreaksbr }}
                {% endif %}
              </p>
              <a href="{% url 'posts:detail' post.pk %}" class="link-accent">Посмотреть рецепт полностью</a>
            </div>
          {% endif %}

          <div class="post-footer">
<div class="like post-icon-container">
  <span class="post-icon react-btn" data-value="like">
    {% for reaction in post.reactions.all %}
      {% if reaction.user == user and reaction.value == 1 %}
        ♥
      {% endif %}
    {% empty %}
      ♡
    {% endfor %}
  </span>
  <span class="react-count like-count">{{ post.likes_count }}</span>
</div>

<div class="dislike post-icon-container">
  <span class="post-icon react-btn" data-value="dislike">
    {% for reaction in post.reactions.all %}
      {% if reaction.user == user and reaction.value == -1 %}
        🖤
      {% endif %}
    {% empty %}
      💔
    {% endfor %}
  </span>
  <span class="react-count dislike-count">{{ post.dislikes_count }}</span>
</div>

            <div class="post-comment post-icon-container">
              <img src="{% static 'images/comment.svg' %}" alt="" class="post-icon comment-toggle" />
            </div>
          </div>

          <div class="comments-block">
            {% for comment in post.comments.all %}
              <div class="comment-mini">
                <div class="post-header">
                  {% if comment.author.avatar %}
                    <img src="{{ comment.author.avatar.url }}" alt="" class="comment-avatar" />
                  {% else %}
                    <img src="{% static 'images/default_avatar.jpg' %}" alt="" class="comment-avatar" />
                  {% endif %}
                  <a href="{% url 'users:profile' %}?user={{ comment.author.id }}" class="comment-user">{{ comment.author.username }}</a>
                </div>
                <p class="comment-text">{{ comment.text|linebreaksbr }}</p>
              </div>
            {% empty %}
              <p class="history">Пока нет комментариев.</p>
            {% endfor %}

            {% if user.is_authenticated %}
              <form class="comment-form" method="POST" action="{% url 'posts:comment' post.id %}">
                {% csrf_token %}
                <input type="text" name="text" class="form-input" placeholder="Напишите комментарий" />
                <button type="submit" class="log-button">Добавить комментарий</button>
              </form>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </main>

  <script src="{% static 'posts/js/main.js' %}"></script>
{% endblock %}
